<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zxwl.com.texiaodq">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mybes" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main3Activity" />
        <activity
            android:name=".Main22Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".Main23Activity" />
        <activity android:name=".Main24Activity" />
        <activity android:name=".Main25Activity" />
        <activity android:name=".Main26Activity" />
        <activity android:name=".view.Main6Activity"></activity>
    </application>

</manifest>